@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Noto+Sans&display=swap');
h1, h2, h3 {
    font-family: 'Inknut Antiqua', serif;
}

p, label, select, button, textarea, small {
    font-family: 'Noto Sans', sans-serif;
}

p, textarea{
    font-size: 18px;
}
label {
    font-size: 21px;
    margin: 10px 0px 10px 0px;
}

input, select, button {
    font-size: 18px;
    height: 28px;
}

button {
    width: 100%;
}

body {
    color: #f5f5dc;
    background-color: hsl(240, 21%, 15%);
}

header {
    display: block;
    max-width: 720px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

footer {
    display: block;
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

form {
    display: block;
    max-width: 720px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    background-color: hsl(240, 21%, 25%);
}

.form-group {
    margin: 0px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}